@page
@using Abp.EmailMarketing.Localization
@using Abp.EmailMarketing.Web.Pages.Emails
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EditModalModel
@inject IStringLocalizer<EmailMarketingResource> L
@{
    Layout = null;
}
<form asp-page="/Emails/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Email.Id" />
            <abp-input asp-for="Email.EmailString" />
            <abp-input asp-for="Email.Password" />
            <abp-input asp-for="Email.Order" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
