@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Abp.EmailMarketing.Localization
@using Volo.Abp.Users
@model Abp.EmailMarketing.Web.Pages.IndexModel
@inject IHtmlLocalizer<EmailMarketingResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<div class="container">
    <div class="p-5 text-center">
        <h1>Welcome to the Application</h1>
        @if (!CurrentUser.IsAuthenticated)
        {
            <a abp-button="Primary" href="~/Account/Login" ><i class="fa fa-sign-in"></i> @L["Login"]</a>
        }
    </div>

    <div class="my-3 text-center">
        <h3>Manage your website</h3>
        <p>Here are some links to help you get started:</p>
    </div>
    <div class="card mt-4 mb-5">
        <div class="card-body">
            <div class="row text-center justify-content-md-center">
                <div class="col-lg-4">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-book text-secondary d-block my-3 fa-2x"></i>Administrator</h5>
                        <p>Manage role, user</p>
                        <a href="~/Identity/Users" target="_blank" class="btn btn-link px-1">See Documents <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-left">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-users text-secondary d-block my-3 fa-2x"></i>Contacts</h5>
                        <p>Manage contacts</p>
                        <a href="/Contacts/Index" target="_blank" class="btn btn-link px-1">All contact<i class="fas fa-chevron-right"></i></a>
                        <a href="/GroupContacts/Index" target="_blank" class="btn btn-link px-1">All group contact<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 border-left">
                    <div class="p-4">
                        <h5 class="mb-3"><i class="fas fa-envelope text-secondary d-block my-3 fa-2x"></i>Campaign</h5>
                        <p>Manage campaign</p>
                        <a href="/Campaigns/Index" target="_blank" class="btn btn-link px-1">All campaign<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
