@page
@using Abp.EmailMarketing.Localization 
@using Abp.EmailMarketing.Web.Pages.Contacts 
@using Microsoft.Extensions.Localization 
@model IndexModel
@inject IStringLocalizer<EmailMarketingResource> L
@section scripts
{ 
    <abp-script src="/Pages/Contacts/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>@L["Contacts"]</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ContactsTable"></abp-table>
    </abp-card-body>
</abp-card>

