@page
@using Abp.EmailMarketing.Localization
@using Abp.EmailMarketing.Web.Pages.Campaigns
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model CreateCampaignModel
@inject IStringLocalizer<EmailMarketingResource> L

@{
    Layout = null;
}

<form asp-page="/Campaigns/CreateCampaign">
    <abp-modal size="ExtraLarge">
        <abp-modal-header title="@L["NewCampaign"].Value"></abp-modal-header>
        <abp-modal-body>
            <div class="row">
                <div class="col-6">
                    <abp-input asp-for="Campaign.Name" />
                    <abp-input asp-for="Campaign.Description" />
                    <abp-select asp-for="Campaign.GroupId" asp-items="@Model.Groups" />
                </div>
                <div class="col-6">
                    <abp-input asp-for="Campaign.Title" />
                    <abp-input asp-for="Campaign.Schedule" />
                </div>
            </div>
            <abp-input asp-for="Campaign.Content" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
@*</div>*@



